$blueGrey: #6D8397;
$blue: #307FA7;
$green: #3D8C7D;
$peach: #DF6955;
$red: #BC242C;

.top {
  display: inline-block;
}



form {
  background-color: rgba(000,000,000, 0.1);
  border-radius: 10px;
  padding-left: 50px;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 5px;

  fieldset {
    display: inline;

  }
  .input {
    line-height: 1.7;
  }

  .text, .gender {
    padding-right: 10px;
  }
}


.country {
  font-size: 14px;
}
.gender, .radios {
  float: left;
}
.radios {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
  padding: 8px;
}

.submit {
  height: 35px;
  width: 100px;
  font-size: 14px;
}
textarea {
  width: 80%;
  height: 100px;
}
