@import url(http://fonts.googleapis.com/css?family=Karma:400,700);
@import url(http://fonts.googleapis.com/css?family=Inknut+Antiqua:400,700);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500);
@import url(http://fonts.googleapis.com/css?family=Philosopher:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.main {
  width: 1100px;
  margin: 0 auto; }

.right {
  float: right; }

.imgback {
  position: relative;
  overflow: hidden; }

.imgback p {
  position: relative;
  z-index: 2;
  color: white;
  margin: 5px; }

.imgback img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.8; }

.row {
  width: 100%; }

.colThird {
  width: 33%;
  display: inline-block;
  vertical-align: middle; }

.colHalf {
  width: 50%;
  display: inline-block;
  vertical-align: top; }

html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  line-height: 1.7;
  color: #307FA7; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: 'Philosopher';
  color: #DF6955; }

h1 {
  margin-top: 0;
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

h5, h6 {
  font-weight: bolder;
  color: #DF6955; }

small, .font_small {
  font-size: 0.707em; }

table {
  width: 100%;
  text-align: left; }

thead {
  font-weight: bold; }

tr:nth-child(2n+2) {
  background-color: rgba(0, 0, 0, 0.1); }

tbody {
  border: 1px rgba(0, 0, 0, 0.1); }

.top {
  display: inline-block; }

form {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 50px;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 5px; }
  form fieldset {
    display: inline; }
  form .input {
    line-height: 1.7; }
  form .text, form .gender {
    padding-right: 10px; }

.country {
  font-size: 14px; }

.gender, .radios {
  float: left; }

.radios {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
  padding: 8px; }

.submit {
  height: 35px;
  width: 100px;
  font-size: 14px; }

textarea {
  width: 80%;
  height: 100px; }
